*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
	line-height: 1.7;
}
li{
	list-style: none;
}
#content{
	width: 800px;
	margin: 0 auto;
	padding: 20px;
}
#content h1{
	color: #0088bb;
}
#content .item{
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid #0088BB;
}
#content .item h2{
	font-size: 16px;
	font-weight: bold;
	border-bottom: 2px solid #0088BB;
	margin-bottom: 10px;
}
#content .item li{
	display: inline;/*在一行显示*/
	margin-right: 10px;
}
#content .item li a img{
	width: 230px;
	height: 230px;
	border: none;
}

/*右侧导航的样式*/
#menu{
	position: fixed;/*ie6不支持*/
	top: 100px;
	left: 50%;
	margin-left: 400px;
	width: 80px;
}
#menu ul li a{
	display: block;
	margin: 5px 0;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	width: 80px;
	height: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
}
#menu ul li a:hover,#menu ul li a.current{
	color: white;
	background: #0088BB;
}

/*ie6 hack：通过编码来区分浏览器，为不同的浏览器设置不同效果*/
/*解决了ie6发生跳变的情况*/
* html,*html body{
	background-image: url(about:blank);
	background-attachment: fixed;
}
* html #menu{
	/*position: fixed;*/
	position: absolute;
	top: expression(((e = document.documentElement.scrollTop)?e:document.body.scrollTop)+ 100 +'px');
}
